---
	import Layout from '../layouts/Page.astro';
	import SearchBar from '../components/search/SearchBar.astro';
	import Article from '../components/article/Article.astro';
	import {
		Container,
	} from '@littlesticks/odyssey-theme-components';
	import '../styles/article.css';

	const seo = {
		title: "Aaron's Kit | Search",
		description: 'Search for papers',
	};

	const category = Astro.url.searchParams.get('category')! || '';
	const query = Astro.url.searchParams.get('query')! || '';
	const page = Astro.url.searchParams.get('page')! || '0';
	const page_size = 10

	var api = "https://api-service-mrz6aygprq-oa.a.run.app/api/articles?page_size=" + page_size + "&page=" + page;

	if (category.toLowerCase() === 'title') {
		api = api + '&title=' + query;
	} else if (category.toLowerCase() === 'author') {
		api = api + '&authorName=' + query;
	} else if (category.toLowerCase() === 'journal') {
		api = api + '&journalName=' + query;
	}

	console.log(" ** params ** ", category + " " + query + " " + api);

	var articles = []
	var total_pages = 1

	if (query) {
		const response = await fetch(api);

		if (response.status === 200) {
			var result = await response.json();
			articles = result["data"]
			total_pages = result["total_pages"]
		}
	}
---

<Layout {seo}>
	<div class='outer__search__container'>
		<SearchBar category={category} query={query} page={page} total_pages={total_pages}></SearchBar>

		<div class="results__container">
			{query &&
			(
			articles.length > 0 ? articles.map((article) => (
			<Article article={article}></Article>
			))
			:
			<h3>No Articles Found</h3>
			)
			}
		</div>
	</div>
</Layout>

<style>
	.outer__search__container {
		min-height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	.results__container {
		margin: 0 0;
		max-width: 940px;
		width: 100%;
		padding: 0 3rem;
	}
	@media screen and (max-width: 414px) {
		.results__container {
			padding: 0 2rem;
		}
	}
</style>